.twitter-quote {
  position: relative;
}

.twitter-quote__bg {
  position: absolute;
  width: 150%;
  left: -30%;
  top: -15%;
  z-index: -1;
}

.twitter-quote__square {
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 0%;
}
