$pink-light: #ffc0c0;
$purple-light: #dad2d7;
$pink: #eb1d5a;
$purple: #421a36;

.tweet-postcard {
  padding: 10px;
  background-image: repeating-linear-gradient(
    135deg,
    $purple 0px,
    $purple 30px,
    transparent 30px,
    transparent 50px,
    $pink 50px,
    $pink 80px,
    transparent 80px,
    transparent 100px
  );
}

.tweet-postcard__inner {
  background: white;
  width: 100%;
  height: 100%;
  padding: 25px;
}