// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap);

@import "~dc-pattern-lib/lib/assets/_variables.scss";

$body-color: $purple-dark;
$body-bg: #f5f5f5;
$line-height-base: 1.75;
$paragraph-margin-bottom: 0.5rem;

$display1-size: 2.5rem;
$display2-size: 1.875rem;
$display3-size: 1.562rem;
$display4-size: 1.25rem;

$display1-weight: 700;
$display2-weight: 400;
$display3-weight: 200;
$display4-weight: 100;

$font-weight-lighter: 100;

$pink-light: #ffc0c0;
$purple-light: #dad2d7;

$nav-pills-border-radius: 4px;

$btn-padding-x: 1rem;
$btn-padding-y: .5rem;
$btn-border-radius-lg: $border-radius-rounded;

$table-color: $purple-dark;

@import "~bootstrap/scss/bootstrap.scss";

// Global

.nav-link {
  color: $purple-dark;
}

.nav-link:hover {
  color: $pink;
  transistion: .5s;
}

.bg-purple-light {
  background-color:$purple-light;
}



//type styles

body {
  overflow-x: hidden;
}

p {
  font-size: 0.9375rem;
  letter-spacing: 0.0375rem;
  line-height: 1.67rem;
  margin-bottom: 2.1875rem;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.075rem;
  line-height: 3.125rem;
}

h2 {
  font-size: 1.875rem;
  letter-spacing: 0.05625rem;
  margin-bottom: 0.9375rem;
}

h3 {
  font-size: 1.5625rem;
  letter-spacing: 0.08rem;
  margin-bottom: 1.5625rem;
}

h4 {
  font-size:1.25rem;
  letter-spacing: 0.03125rem;

}

h6 {
  font-family: monospace;
  letter-spacing: 0.15rem;
  font-size: 0.85rem;
}


//global element styles

.shadow {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.25) !important;
}

.shadow-hover:hover {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.15), 0 15px 30px 0 rgba(0,0,0,0.15) !important;
  transition:.5s;
}

//colors
.text-pink-light {
  color: $pink-light;
}

.bg-pink-light {
  background-color: $pink-light;
}

// Layout Helpers
.section-row {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
}

.mb-gutter {
  margin-bottom: $grid-gutter-width;
}

// Header Styles
.h-underline {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    border-bottom: 5px solid $purple-dark;
  }
}
// pill nav

// pill layout adjustments
.nav-pills li {
  border-radius: 4px;
  background-color: $purple-light;
  margin-left: 10px;
}

.nav-pills li:first-child {
  margin-left: 0;
}

.nav-pills li:last-child {
  margin-right: 10px;
}

// pill hover styles
.nav-pills .nav-item .nav-link:hover {
  color: $pink;
  background-color: $pink-light;
  transition: 0.5s;
  cursor: pointer;
}

.nav-pills .nav-item .nav-link.active {
  background-color: $pink-light;
  color: $pink;
}

.nav-pills .nav-item .nav-link.active:hover {
  background: darken($pink-light, 5%);
  transition: 0.5s;
}

// Temporary!
@import url('https://api.develop.getshifter.io/wp-includes/css/dist/block-library/style.min.css?ver=5.2.4');
// Temporary!


//wordcamp connect styling

#gatsby-focus-wrapper > header .wcconnect__header { 
  background-color: $pink;
}

.card-columns {
  @include media-breakpoint-only(s) {
    column-count: 2;
      }
  @include media-breakpoint-only(xs) {
column-count: 1;
}
}

  